@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

/*Обнуление*/
* {
    padding: 0;
    margin: 0;
    border: 0; 
  }
  
  *,
  *:before,
  *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
  
  :focus,
  :active {
    outline: none; }
  
  a:focus,
  a:active {
    outline: none; }
  
  nav,
  footer,
  header,
  aside {
    display: block; }
  
  html,
  body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%; }
  
  input,
  button,
  textarea {
    font-family: inherit; }
  
  input::-ms-clear {
    display: none; }
  
  button {
    cursor: pointer; }
  
  button::-moz-focus-inner {
    padding: 0;
    border: 0; }
  
  a,
  a:visited {
    text-decoration: none; }
  
  a:hover {
    text-decoration: none; }
  
  ul li {
    list-style: none; }
  
  img {
    vertical-align: top; }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: inherit;
    font-weight: inherit; }
  
  /*--------------------*/
html, body{
  height: 100%;
  overflow: hidden;
  font-family: 'Oswald', sans-serif;
}

.main{
   display: flex;
   background: #F4F5F7;
   min-height: 100%;
}

.left {
  background: #FFF;
  flex-shrink: 0;
  padding-top: 40px;
  padding-bottom: 40px;
  flex: 7%;
  border-right: #2C2745;
  
}
.left-menu {
  width: 262px;
  height: 355px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-left: 40px;
  
}
.left-menu__logo {
  color: #3C3F88;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 60px;
}
.left-menu__item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.left-menu__img{
  width: 35px;
  
}
.left-menu__link {
  margin-left: 10px;
  color: #B9C0DE;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1px;
}
.left-pro {
  border-radius: 30px;
  background: #EBEEFF;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 15px;
  width: 250px;
  margin-left: 25px;
  margin-top: 200px;
}
.left-pro__img{
  position: relative;
  bottom: 48px;
  
}

.left-pro__title {
  text-align: center;
  font-size: 19px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 1px;
  margin-bottom: 15px;
  width: 150px;
}
.left-pro__title__bold {
  color: #1C4EFF;
  font-size: 19px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
  
}
.left-pro__btn {
  border-radius: 15px;
  background: #1657FF;
  display: inline-flex;
  padding: 18px 86px;
  align-items: center;
  gap: 10px;
  color: #FFF;
  font-size: 19px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  
}
/* ----------------CENTER---------------- */
.center {
  flex: 50%;
  
}
.center-header{
  border-bottom: 1px solid  #2C2745;
  max-width: 800px;
  display: flex;
  align-items: center;
  margin-left: 300px;
  margin-top: 50px;
  

}
.center-header__arrow{

}
.center-header__title {
  color: #3C3F88;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1px;
  margin-left: 330px;
  
  
  

}
.center-block {
  border-radius: 15px;
  background: #1657FF;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 800px;
  padding: 45px 55px;
  color: #FFF;
  font-size: 23px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-left: 300px;
  margin-top: 30px;
  margin-bottom: 50px;
  
  
}
.center-block__left {
}
.center-block__title {
}
.center-block__text {
  
}
.center-block__right {
  border-radius: 15px;
  border: 1px solid #2C2745;
  padding: 15px 35px;
  display: flex;
  align-items: center;
}
.center-block__right__title{
  margin-left: 20px;
  color: #FFF;
  font-size: 23px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  
  
}

.center-circle{
  width: 120px;
  height: 120px;
  border-radius: 100%;
  background: #EBEEFF;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
  

}
.center-circle__img{
  width: 90px;
  padding: 10px;
  
}

.one{
  margin-left: 650px;
}
.two{
  margin-left: 570px;
}
.three{
  margin-left: 650px;
}
.four{
  margin-left: 720px;
}
.five{
  margin-left: 620px;
}
.six{
  margin-left: 520px;
}
/* ------------------RIGHT--------------------- */

.right {
  flex: 20%;
  margin-top: 50px;
  position: relative;
  
}
.right-profile__bigImg{
  position: absolute;
  top: 10px;
  left: 170px;
  width: 400px;
}
.right-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 400px;
  margin: 0 auto;
  border-bottom: 1px solid black;
  padding-bottom: 10px;
  
}
.right-header__item {
  margin-right: 50px;
  
}

.right-header__item:last-child {
  margin-right: 0px;
}

.right-header__icon {
  width: 35px;
  height: 35px;
  
}
.right-profile {
  border-radius: 15px;
  background: #fff;
  margin: 0 auto;
  max-width: 400px;
  margin-bottom: 40px;
  
}
.right-profile__head{
  background: url("/img/right/Rectangle\ 45.png") no-repeat;
  margin-top: 30px;
  border-radius: 15px;

}
.right-profile__head__name {
  color: #FFF;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 45px */
  letter-spacing: 0.5px;
  padding-top: 40px;
  padding-left: 25px;
  margin-right: 217px;
  margin-bottom: 15px;
  
}
.right-profile__head__age {
  padding-left: 25px;
  color: #FFF;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 45px */
  letter-spacing: 0.5px;
  padding-bottom: 36px;
}
.right-profile__bio {
  margin-left: 20px;
  
}
.right-profile__bio__text{
  color: #121212;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.5px;
  margin-bottom: 25px;
}
.right-profile__bio__img {
  margin-bottom: 25px;
  width: 90px;

}
.right-profile__bio__info__item {
  color: #121212;
  font-size: 19px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.5px;
  margin-bottom: 10px;
}
.right-profile__bio__contact{
  color: #121212;
  font-size: 19px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.5px;
  margin-bottom: 10px;
  margin-top: 30px;
}

.right-profile__bio__icon{
  width: 25px;
  margin-right: 15px;
  padding-bottom: 13px;
}
.right-stata {
  border-radius: 30px;
  background: #FFF;
  margin: 0 auto;
  max-width: 400px;
  margin-top: 22px;
  padding-left: 129px;
  padding-right: 129px;
  padding-top: 21px;
  padding-bottom: 25px;
  position: relative;
}
.right-stata__circle{
  position: absolute;
  left: 200px;
  bottom: 140px;
}
.right-stata__title {
  text-align: center;
  padding-bottom: 94px;
  color: #121212;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.5px;
}
.right-stata__count {
  text-align: center;
  color: #121212;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.5px;
  margin-bottom: 5px;
}
.right-stata__procent {
  text-align: center;
  color: #BACCFD;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.5px;
  margin-bottom: 110px;
}

.right-stata__dots{
  margin-left: 25px;
}

